<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
  	<ul class="nav navbar-nav navbar-left">
  		<li><a>2014 Copyright @匠临</a></li>
  		<li><a href="#">微博</a></li>
  		<li><a href="#">微信</a></li>
  		<li><a href="#">Facebook</a></li>
  	</ul>
  </div>
</nav>